/*  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  font-family: 'CustomFont', sans-serif;
  background-color: #f4f4f4;
}
a{
  text-decoration: none;
  color: #000;
}
button{
  font-family: Poppins, sans-serif;
  font-size: large;
}
input{
  font-family: Poppins, sans-serif;
  font-size: large;
}
